<div class= "bodyfont">Proyecto de arte experimental</div>
<div class= "headfont">TRES SEIS TRES SEIS - 36 36</div>
<div class= "bodyfont">Hola, soy Saori, una bogotana dibujante a lápiz y pintora de vinilo sobre cartulina. Inicié este proyecto hace tres meses en la costa caribe colombiana para hacer creación de paisajes INSITU en vivo recordando la tradición <a href="https://es.wikipedia.org/wiki/Plenairismo"> de pintar a pleno aire. </a> Me interesa abordar la experimentación visual, interactividad y percepción de los espacios a partir de explorar tradiciones y técnicas antigüas análogas.
</div>

<body>
   <%=image_tag("sao.jpg", class: "perfil")%>
</body>

<div class= "bodyfont">Este viaje inició en diciembre cuando me fui a los <a href="http://chipviajero.com/como-llegar-a-los-farallones-de-sutatausa/"> Farallones de Sutatausa </a> donde me quedé a vivir un mes como <a href="https://www.worldpackers.com/es/articles/en-que-consiste-voluntariado-hostel">voluntaria</a> para poder tener tiempo para pintar y un alojamiento asegurado con amigos. Después de estar pasando muchas horas de frio decidí seguir mi viaje buscanso el calor de la costa caribeña voluntariando en una playa que está de moda: <a href="https://thecitypaperbogota.com/travel/caribbean-travel-guide/the-best-surf-secret-in-tayrona/13887" > Costeño Beach.</a> Y allí empecé a darle propósito a mi proyecto queriendo plasmar mi<a href="https://www.angelesearth.com/arte/como-mira-el-artista-sus-secretos-el-ojo-del-artista/"> visión de artista. </a> Desde la parte visual del arte la composición de una pieza se basa en la jerarquía del protagonisma de múltiples fases. En mi caso el observador del cuadro puede tener una visión grande, mediana y pequeña. Es decir intento captar las tres dimensiones usando información como el color claro-oscuro o las proporciones entre los elementos de la pieza para dar la sensaciones del espacio y comunicar un sentido espacial.
</div>

<div class= "headfont">OBRA UNO: Somos parte de algo más grande</div>

<div class= "bodyfont">Como lo dice el nombre todas las obras del proyecto son compuestas y enumeradas en 36. Siendo 1-36 la primera pieza y continuando secuencialmente a la 2-36... hasta llegar a la número 36-36. En primer lugar una imagen siempre se ve como un todo, como una unidad, mi propósito es explicar la complejidad de la imagen al fragmentarla en varias piezas. Haciendo alución al uso de la digitalización de una imagen para comprimir su significado y a la vez fracturar su esquema gráfico y darle diversidad de comprensión.
</div>

<div class= "section">
  <%=image_tag("Palomino1_36.jpg")%>
  <%=image_tag("Palomino2_36.jpg")%>
  <%=image_tag("Palomino3_36.jpg")%>
  <%=image_tag("Palomino4_36.jpg")%>
  <%=image_tag("Palomino5_36.jpg")%>
  <%=image_tag("Palomino6_36.jpg")%>
  <%=image_tag("Palomino7_36.jpg")%>
  <%=image_tag("Palomino8_36.jpg")%>
  <%=image_tag("Palomino9_36.jpg")%>
  <%=image_tag("Palomino10_36.jpg")%>
  <%=image_tag("Palomino11_36.jpg")%>
  <%=image_tag("Palomino12_36.jpg")%>
  <%=image_tag("Palomino13_36.jpg")%>
  <%=image_tag("Palomino14_36.jpg")%>
  <%=image_tag("Palomino15_36.jpg")%>
  <%=image_tag("Palomino16_36.jpg")%>
  <%=image_tag("Palomino17_36.jpg")%>
  <%=image_tag("Palomino18_36.jpg")%>
  <%=image_tag("Palomino19_36.jpg")%>
  <%=image_tag("Palomino20_36.jpg")%>
  <%=image_tag("Palomino21_36.jpg")%>
  <%=image_tag("Palomino22_36.jpg")%>
  <%=image_tag("Palomino23_36.jpg")%>
  <%=image_tag("Palomino24_36.jpg")%>
  <%=image_tag("Palomino25_36.jpg")%>
  <%=image_tag("Palomino26_36.jpg")%>
  <%=image_tag("Palomino27_36.jpg")%>
  <%=image_tag("Palomino28_36.jpg")%>
  <%=image_tag("Palomino29_36.jpg")%>
  <%=image_tag("Palomino30_36.jpg")%>
  <%=image_tag("Palomino31_36.jpg")%>
  <%=image_tag("Palomino32_36.jpg")%>
  <%=image_tag("Palomino33_36.jpg")%>
  <%=image_tag("Palomino34_36.jpg")%>
  <%=image_tag("Palomino35_36.jpg")%>
  <%=image_tag("Palomino36_36.jpg")%>
</div>

<div class= "headfont">OBRA DOS: Somos una pequeña parte de todo</div>

<div class= "bodyfont">Como lo dice el nombre todas las obras del proyecto son compuestas y enumeradas en 36. Siendo 1-36 la primera pieza y continuando secuencialmente a la 2-36... hasta llegar a la número 36-36. En primer lugar una imagen siempre se ve como un todo, como una unidad, mi propósito es explicar la complejidad de la imagen al fragmentarla en varias piezas. Haciendo alución al uso de la digitalización de una imagen para comprimir su significado y a la vez fracturar su esquema gráfico y darle diversidad de comprensión.
</div>

<div class= "section">
  <%=image_tag("PaloPa1_36.jpg")%>
  <%=image_tag("PaloPa2_36.jpg")%>
  <%=image_tag("PaloPa3_36.jpg")%>
  <%=image_tag("PaloPa4_36.jpg")%>
  <%=image_tag("PaloPa5_36.jpg")%>
  <%=image_tag("PaloPa6_36.jpg")%>
  <%=image_tag("PaloPa7_36.jpg")%>
  <%=image_tag("PaloPa8_36.jpg")%>
  <%=image_tag("PaloPa9_36.jpg")%>
  <%=image_tag("PaloPa10_36.jpg")%>
  <%=image_tag("PaloPa11_36.jpg")%>
  <%=image_tag("PaloPa12_36.jpg")%>
  <%=image_tag("PaloPa13_36.jpg")%>
  <%=image_tag("PaloPa14_36.jpg")%>
  <%=image_tag("PaloPa15_36.jpg")%>
  <%=image_tag("PaloPa16_36.jpg")%>
  <%=image_tag("PaloPa17_36.jpg")%>
  <%=image_tag("PaloPa18_36.jpg")%>
  <%=image_tag("PaloPa19_36.jpg")%>
  <%=image_tag("PaloPa20_36.jpg")%>
  <%=image_tag("PaloPa21_36.jpg")%>
  <%=image_tag("PaloPa22_36.jpg")%>
  <%=image_tag("PaloPa23_36.jpg")%>
  <%=image_tag("PaloPa24_36.jpg")%>
  <%=image_tag("PaloPa25_36.jpg")%>
  <%=image_tag("PaloPa26_36.jpg")%>
  <%=image_tag("PaloPa27_36.jpg")%>
  <%=image_tag("PaloPa28_36.jpg")%>
  <%=image_tag("PaloPa29_36.jpg")%>
  <%=image_tag("PaloPa30_36.jpg")%>
  <%=image_tag("PaloPa31_36.jpg")%>
  <%=image_tag("PaloPa32_36.jpg")%>
  <%=image_tag("PaloPa33_36.jpg")%>
  <%=image_tag("PaloPa34_36.jpg")%>
  <%=image_tag("PaloPa35_36.jpg")%>
  <%=image_tag("PaloPa36_36.jpg")%>
</div>
